* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
}

.icon-btn {
  font-size: 1.5rem;
  color: #777;
}

.icon-btn:hover {
  font-weight: bold;
}

.icon-link {
  font-size: 1.2rem;
  margin-right: 0.2rem;
}

.f-base {
  font-size: 1.2rem;
}

.bold {
  font-weight: bold;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.title-base {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.hint-font {
  color: #e65e5e;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem auto;
}

.bg-container {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.bg-img {
  width: 100%;
}

.inputbar {
  position: relative;
  width: 25vw;
  height: 5vh;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}

.btn {
  text-decoration: none;
  border: none;
  border-radius: 8px;
}

.btn:hover {
  cursor: pointer;
}

.base-btn {
  text-decoration: none;
  border: none;
  border-radius: 8px;
  width: 12vw;
  height: 3vw;
  font-size: 1.05rem;
  font-weight: bold;
  color: #f0f0f0;
}

.base-btn:hover {
  cursor: pointer;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.custom-file-upload label {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #8a8a8a;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 1.5vw;
  height: 1.5vw;
}
